/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --bg-gradient: linear-gradient(135deg, #b8c6db 0%, #6f86d6 100%);
  --white: #ffffff;
  --text-dark: #111;
  --text-light: #666;

  --primary: #6f86d6;
  --secondary: #111;
  --accent: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
